extends layout.pug

block content
    include header.pug
    include nav.pug
    .main
        main(role="main")
            h1.page-title 재무/회계
            section
                //- 리더기
                span 컨텐츠 별 메인페이지  
                //- 컨텐츠 내용
                include thumbnails.pug

        include footer.pug 
