extends layout.pug

block content
    include header.pug
    include nav.pug
    .main
        main(role="main")
            h1.page-title λ¬Έν™”μμ 
            include thumbArea.pug
            
        include footer.pug 
