script(
    window.fbAsyncInit = function() {
        FB.init({
            appId            : '135670794385748',
            autoLogAppEvents : true,
            xfbml            : true,
            version          : 'v3.0'
        });
    };
)
script(async defer src="https://connect.facebook.net/en_US/sdk.js")