nav.header-nav
    h2 블로그 메뉴
    ul
        li
            a(href="/") HOME
        li
            a(href="#") Archives
        li
            a(href="#") Categories
        li
            a(href="#") Tags
        li
            a(href="#") About