nav.header-nav
    h2 헤더메뉴
    ul
        li
            a(href="/") HOME
        li
            a(href="/archives") Archives
        li
            a(href="/categories") Categories
        li
            a(href="/tags") Tags
        li
            a(href="/about") About