extends layout.pug

block content
  include header.pug 
  include mainNav.pug
  .main
    section
      p.article-title FRESH POST
      .post-area
        .post-area-item
          .post-item-title
            h2 
              a(href="/categories/blog", target="", rel="") 테스트 입니다....(1)
            p.article-date 2020-02-20 
            p.post-item-category 
              a(href="/categories/blog") 블로그
          .post-item-desc
            a(href="/categories/blog", target="", rel="")
              p 테스트중입니다.테스트중입니다.테스트중입니다.테스트중입니다.테스트중입니다.테스트중입니다.테스트중입니다.테스트중입니다.테스트중입니다.테스트중입니다.테스트중입니다.테스트중입니다.테스트중입니다.테스트중입니다.테스트중입니다.테스트중입니다.테스트중입니다.테스트중입니다.테스트중입니다.테스트중입니다.테스트중입니다.테스트중입니다.테스트중입니다.테스트중입니다.                       
        .post-area-item
          .post-item-title
            h2 
              a(href="/categories/blog", target="", rel="") 테스트 입니다....(2)
            p.article-date 2020-02-20 
            p.post-item-category
              a(href="/categories/blog") 블로그
          .post-item-desc
            a(href="/categories/blog", target="", rel="")
              p 테스트중입니다.테스트중입니다.테스트중입니다.테스트중입니다.테스트중입니다.테스트중입니다.테스트중입니다.테스트중입니다.테스트중입니다.테스트중입니다.테스트중입니다.테스트중입니다.테스트중입니다.테스트중입니다.테스트중입니다.테스트중입니다.테스트중입니다.테스트중입니다.테스트중입니다.테스트중입니다.테스트중입니다.테스트중입니다.테스트중입니다.테스트중입니다.                        

    section.post-area-category
      span 개발공부
      h2.post-category-title
        a(href="/categories/develop", target="", rel="") 개발공부 →         
      .post-area.thumbnails-area
        .post-area-item.thumbnails-item
          a(href="/categories/develop", target="", rel="")
            figure.thumbnails-item-image
              .item-image(style="background-image:url(../images/test_img.jpg)") 
            .thumbnails-item-info 테스트중입니다....테스트중입니다....테스트중입니다....    

        .post-area-item.thumbnails-item
          a(href="/categories/develop", target="", rel="")
            figure.thumbnails-item-image
              .item-image(style="background-image:url(../images/test_img.jpg)") 
            .thumbnails-item-info 테스트중입니다....테스트중입니다....테스트중입니다....   

        .post-area-item.thumbnails-item
          a(href="/categories/develop", target="", rel="")
            figure.thumbnails-item-image
              .item-image(style="background-image:url(../images/test_img.jpg)") 
            .thumbnails-item-info 테스트중입니다....테스트중입니다....테스트중입니다....   

        .post-area-item.thumbnails-item
          a(href="/categories/develop", target="", rel="")
            figure.thumbnails-item-image
              .item-image(style="background-image:url(../images/test_img.jpg)") 
            .thumbnails-item-info 테스트중입니다....테스트중입니다....테스트중입니다....   

      section.post-area-category
        span 문화예술
        h2.post-category-title
          a(href="/categories/art", target="", rel="") 문화예술 →         
        .post-area.thumbnails-area
          .post-area-item.thumbnails-item
            a(href="/categories/art", target="", rel="")
              figure.thumbnails-item-image
                .item-image(style="background-image:url(../images/test2_img.jpg)") 
              .thumbnails-item-info 테스트중입니다....테스트중입니다....테스트중입니다....    

          .post-area-item.thumbnails-item
            a(href="/categories/art", target="", rel="")
              figure.thumbnails-item-image
                .item-image(style="background-image:url(../images/test2_img.jpg)") 
              .thumbnails-item-info 테스트중입니다....테스트중입니다....테스트중입니다....   

          .post-area-item.thumbnails-item
            a(href="/categories/art", target="", rel="")
              figure.thumbnails-item-image
                .item-image(style="background-image:url(../images/test2_img.jpg)") 
              .thumbnails-item-info 테스트중입니다....테스트중입니다....테스트중입니다....   

          .post-area-item.thumbnails-item
            a(href="/categories/art", target="", rel="")
              figure.thumbnails-item-image
                .item-image(style="background-image:url(../images/test2_img.jpg)") 
              .thumbnails-item-info 테스트중입니다....테스트중입니다....테스트중입니다.... 

    section.post-area-category
      span 
      h2.post-category-title
        a(href="/categories/account", target="", rel="") 재무/회계 →         
      .post-area.thumbnails-area
        .post-area-item.thumbnails-item
          a(href="/categories/account", target="", rel="")
            figure.thumbnails-item-image
              .item-image(style="background-image:url(../images/test3_img.jpg)") 
            .thumbnails-item-info 테스트중입니다....테스트중입니다....테스트중입니다....    

        .post-area-item.thumbnails-item
          a(href="/categories/account", target="", rel="")
            figure.thumbnails-item-image
              .item-image(style="background-image:url(../images/test3_img.jpg)") 
            .thumbnails-item-info 테스트중입니다....테스트중입니다....테스트중입니다....   

        .post-area-item.thumbnails-item
          a(href="/categories/account", target="", rel="")
            figure.thumbnails-item-image
              .item-image(style="background-image:url(../images/test3_img.jpg)") 
            .thumbnails-item-info 테스트중입니다....테스트중입니다....테스트중입니다....   

        .post-area-item.thumbnails-item
          a(href="/categories/account", target="", rel="")
            figure.thumbnails-item-image
              .item-image(style="background-image:url(../images/test3_img.jpg)") 
            .thumbnails-item-info 테스트중입니다....테스트중입니다....테스트중입니다....
      section.post-area-category
        span 
        h2.post-category-title
          a(href="/categories/language", target="", rel="") 외국어공부 →         
        .post-area.thumbnails-area
          .post-area-item.thumbnails-item
            a(href="/categories/language", target="", rel="")
              figure.thumbnails-item-image
                .item-image(style="background-image:url(../images/test4_img.jpg)") 
              .thumbnails-item-info 테스트중입니다....테스트중입니다....테스트중입니다....    

          .post-area-item.thumbnails-item
            a(href="/categories/language", target="", rel="")
              figure.thumbnails-item-image
                .item-image(style="background-image:url(../images/test4_img.jpg)") 
              .thumbnails-item-info 테스트중입니다....테스트중입니다....테스트중입니다....   

          .post-area-item.thumbnails-item
            a(href="/categories/language", target="", rel="")
              figure.thumbnails-item-image
                .item-image(style="background-image:url(../images/test4_img.jpg)") 
              .thumbnails-item-info 테스트중입니다....테스트중입니다....테스트중입니다....   

          .post-area-item.thumbnails-item
            a(href="/categories/language", target="", rel="")
              figure.thumbnails-item-image
                .item-image(style="background-image:url(../images/test4_img.jpg)") 
              .thumbnails-item-info 테스트중입니다....테스트중입니다....테스트중입니다....       

  include sidebar.pug

