nav.main-nav
    h2 카테고리 
    //- 리더기 감지
    .category
        ul
            li
                a(href="/categories/portfolio") 포트폴리오 →
            li
                a(href="/categories/develop") 개발공부 →
            li
                a(href="/categories/art") 문화예술 →
            li
                a(href="/categories/account") 재무/회계 →
            li
                a(href="/categories/language") 외국어 공부 →
            li
                a(href="/categories/blog") 블로그 →

//- nav end