nav.main-nav
    h2 카테고리 
    //- 리더기 감지
    .sidebar-list
        ul
            li
                a(href="/") HOME →
            li
                a(href="/portfolio") 포트폴리오 →
            li
                a(href="/develop") 개발공부 →
            li
                a(href="/art") 문화예술 →
            li
                a(href="/account") 재무/회계 →
            li
                a(href="/language") 외국어 공부 →
            li
                a(href="/blog") 블로그 →
            li
                a(href="/about") About →
//- nav end