.post-area
   .post-area-item
      .post-item-title
         h2 
            a(href="#", target="_blank", rel="") 테스트 입니다....(1)
      .post-item-desc
         a(href="#", target="_blank", rel="") 
            p 테스트중입니다.테스트중입니다.테스트중입니다.테스트중입니다.테스트중입니다.테스트중입니다.테스트중입니다.테스트중입니다.테스트중입니다.테스트중입니다.테스트중입니다.테스트중입니다.테스트중입니다.테스트중입니다.테스트중입니다.테스트중입니다.테스트중입니다.테스트중입니다.테스트중입니다.테스트중입니다.테스트중입니다.테스트중입니다.테스트중입니다.테스트중입니다.  
   .post-area-item
      .post-item-title
         h2 
            a(href="#", target="_blank", rel="") 테스트 입니다....(2)
      .post-item-desc
         a(href="#", target="_blank", rel="") 
            p 테스트중입니다.테스트중입니다.테스트중입니다.테스트중입니다.테스트중입니다.테스트중입니다.테스트중입니다.테스트중입니다.테스트중입니다.테스트중입니다.테스트중입니다.테스트중입니다.테스트중입니다.테스트중입니다.테스트중입니다.테스트중입니다.테스트중입니다.테스트중입니다.테스트중입니다.테스트중입니다.테스트중입니다.테스트중입니다.테스트중입니다.테스트중입니다.  
   .post-area-item
      .post-item-title
         h2 
            a(href="#", target="_blank", rel="") 테스트 입니다....(3)
      .post-item-desc
         a(href="#", target="_blank", rel="") 
            p 테스트중입니다.테스트중입니다.테스트중입니다.테스트중입니다.테스트중입니다.테스트중입니다.테스트중입니다.테스트중입니다.테스트중입니다.테스트중입니다.테스트중입니다.테스트중입니다.테스트중입니다.테스트중입니다.테스트중입니다.테스트중입니다.테스트중입니다.테스트중입니다.테스트중입니다.테스트중입니다.테스트중입니다.테스트중입니다.테스트중입니다.테스트중입니다.  
   .post-area-item
      .post-item-title
         h2 
            a(href="#", target="_blank", rel="") 테스트 입니다....(4)
      .post-item-desc
         a(href="#", target="_blank", rel="") 
            p 테스트중입니다.테스트중입니다.테스트중입니다.테스트중입니다.테스트중입니다.테스트중입니다.테스트중입니다.테스트중입니다.테스트중입니다.테스트중입니다.테스트중입니다.테스트중입니다.테스트중입니다.테스트중입니다.테스트중입니다.테스트중입니다.테스트중입니다.테스트중입니다.테스트중입니다.테스트중입니다.테스트중입니다.테스트중입니다.테스트중입니다.테스트중입니다.  
