.sidebar
    .card-content
        h3.card-title 최신글
        article.media
            a.media-left
                p.image.is-64
                    img(class="thumbnail" src="../../../images/test_img.jpg")
            .media-content.is-size-small 
                p
                    time(datetime="2020-03-16T19:23:59.000Z") 2020-03-16
                p.title.is-6 
                    a.link-content 테스트중입니다.
                p.is-uppercase
                    a(class="link" href="/") 테스트/
                    a(class="link" href="/") 테스트
        article.media
            a.media-left
                p.image.is-64
                    img(class="thumbnail" src="../../../images/test_img.jpg")
            .media-content.is-size-small 
                p
                    time(datetime="2020-03-16T19:23:59.000Z") 2020-03-16
                p.title.is-6 
                    a.link-content 테스트중입니다.
                p.is-uppercase
                    a(class="link" href="/") 테스트/
                    a(class="link" href="/") 테스트
        article.media
            a.media-left
                p.image.is-64
                    img(class="thumbnail" src="../../../images/test_img.jpg")
            .media-content.is-size-small 
                p
                    time(datetime="2020-03-16T19:23:59.000Z") 2020-03-16
                p.title.is-6 
                    a.link-content 테스트중입니다.
                p.is-uppercase
                    a(class="link" href="/") 테스트/
                    a(class="link" href="/") 테스트
        article.media
            a.media-left
                p.image.is-64
                    img(class="thumbnail" src="../../../images/test_img.jpg")
            .media-content.is-size-small 
                p
                    time(datetime="2020-03-16T19:23:59.000Z") 2020-03-16
                p.title.is-6 
                    a.link-content 테스트중입니다.
                p.is-uppercase
                    a(class="link" href="/") 테스트/
                    a(class="link" href="/") 테스트
        article.media
            a.media-left
                p.image.is-64
                    img(class="thumbnail" src="../../../images/test_img.jpg")
            .media-content.is-size-small 
                p
                    time(datetime="2020-03-16T19:23:59.000Z") 2020-03-16
                p.title.is-6 
                    a.link-content 테스트중입니다.
                p.is-uppercase
                    a(class="link" href="/") 테스트/
                    a(class="link" href="/") 테스트