//- TODO: 중복제거 할 것
.post-area.thumbnails-area
    .post-area-item.thumbnails-item
        a(href="/" target="_blank")
          figure.thumbnails-item-image
            .item-image(style="background-image:url(images/test_img.jpg")
            figcatiopn 테스트(1)
            .thumbnails-item-info  테스트중입니다....테스트중입니다....테스트중입니다....
    .post-area-item.thumbnails-item
        a(href="/" target="_blank")
          figure.thumbnails-item-image
            .item-image(style="background-image:url(images/test_img.jpg")
            figcatiopn 테스트(2)
            .thumbnails-item-info  테스트중입니다....테스트중입니다....테스트중입니다.... 
    .post-area-item.thumbnails-item
        a(href="/" target="_blank")
          figure.thumbnails-item-image
            .item-image(style="background-image:url(images/test_img.jpg")
            figcatiopn 테스트(3)
            .thumbnails-item-info  테스트중입니다....테스트중입니다....테스트중입니다.... 
    .post-area-item.thumbnails-item
        a(href="/" target="_blank")
          figure.thumbnails-item-image
            .item-image(style="background-image:url(images/test_img.jpg")
            figcatiopn 테스트(4)
            .thumbnails-item-info  테스트중입니다....테스트중입니다....테스트중입니다.... 
    
    .post-area-item.thumbnails-item
        a(href="/" target="_blank")
          figure.thumbnails-item-image
            .item-image(style="background-image:url(images/test2_img.jpg")
            figcatiopn 테스트(1)
            .thumbnails-item-info  테스트중입니다....테스트중입니다....테스트중입니다....
    .post-area-item.thumbnails-item
        a(href="/" target="_blank")
          figure.thumbnails-item-image
            .item-image(style="background-image:url(images/test2_img.jpg")
            figcatiopn 테스트(2)
            .thumbnails-item-info  테스트중입니다....테스트중입니다....테스트중입니다.... 
    .post-area-item.thumbnails-item
        a(href="/" target="_blank")
          figure.thumbnails-item-image
            .item-image(style="background-image:url(images/test2_img.jpg")
            figcatiopn 테스트(3)
            .thumbnails-item-info  테스트중입니다....테스트중입니다....테스트중입니다.... 
    .post-area-item.thumbnails-item
        a(href="/" target="_blank")
          figure.thumbnails-item-image
            .item-image(style="background-image:url(images/test2_img.jpg")
            figcatiopn 테스트(4)
            .thumbnails-item-info  테스트중입니다....테스트중입니다....테스트중입니다....                 