extends layout.pug

block content
    include header.pug 
    include mainNav.pug
    .main
        h1.page-title= heading 
        section
            //- 리더기
            span 컨텐츠 별 메인페이지  
            //- 컨텐츠 내용
            //- TODO: 중복제거 하기(반복문 사용)
            .post-area.thumbnails-area
                .post-area-item.thumbnails-item
                    a(href=`/${pathname}/page/${number}` target="")
                        figure.thumbnails-item-image
                            .item-image(style="background-image:url(images/test_img.jpg")
                            figcatiopn 테스트(1)
                            .thumbnails-item-info= content
                .post-area-item.thumbnails-item
                    a(href="/page" target="")
                        figure.thumbnails-item-image
                            .item-image(style="background-image:url(images/test_img.jpg")
                            figcatiopn 테스트(2)
                            .thumbnails-item-info  테스트중입니다....테스트중입니다....테스트중입니다.... 
                .post-area-item.thumbnails-item
                    a(href="/page" target="")
                        figure.thumbnails-item-image
                            .item-image(style="background-image:url(images/test_img.jpg")
                            figcatiopn 테스트(3)
                            .thumbnails-item-info  테스트중입니다....테스트중입니다....테스트중입니다.... 
                .post-area-item.thumbnails-item
                    a(href="/page" target="")
                        figure.thumbnails-item-image
                            .item-image(style="background-image:url(images/test_img.jpg")
                            figcatiopn 테스트(4)
                            .thumbnails-item-info  테스트중입니다....테스트중입니다....테스트중입니다.... 

                .post-area-item.thumbnails-item
                    a(href="/page" target="")
                        figure.thumbnails-item-image
                            .item-image(style="background-image:url(images/test2_img.jpg")
                            figcatiopn 테스트(1)
                            .thumbnails-item-info  테스트중입니다....테스트중입니다....테스트중입니다....
                .post-area-item.thumbnails-item
                    a(href="/page" target="")
                        figure.thumbnails-item-image
                            .item-image(style="background-image:url(images/test2_img.jpg")
                            figcatiopn 테스트(2)
                            .thumbnails-item-info  테스트중입니다....테스트중입니다....테스트중입니다.... 
                .post-area-item.thumbnails-item
                    a(href="/page" target="")
                        figure.thumbnails-item-image
                            .item-image(style="background-image:url(images/test2_img.jpg")
                            figcatiopn 테스트(3)
                            .thumbnails-item-info  테스트중입니다....테스트중입니다....테스트중입니다.... 
                .post-area-item.thumbnails-item
                    a(href="/page" target="")
                        figure.thumbnails-item-image
                            .item-image(style="background-image:url(images/test2_img.jpg")
                            figcatiopn 테스트(4)
                            .thumbnails-item-info  테스트중입니다....테스트중입니다....테스트중입니다....       

    include sidebar.pug

