@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* border: none !important; */
}

html,
body {
  width: 100%;
  height: 100%;
  line-height: 1.5;
  font-size: 16px;
  font-family: '나눔고딕', -apple-system, system-ui, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, sans-serif;
}

a {
  color: #000000;
  text-decoration: none;
}

/* 재활용이 가능 한 클래스 리스트 들 */
.download {
  font-size: 1rem;
  font-weight: 400;
  padding: 0 0.25rem;
  margin: 0;
}

.site-title {
  font-size: 3rem;
  line-height: 1;
  margin-bottom: 1rem;
}

div#wrap {
  padding: 0;
  margin: 0;
}

div#wrap div.container {
  margin: 0 auto;
  padding: 2.5rem 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 17fr minmax(0, 60fr) 17fr;
      grid-template-columns: 17fr minmax(0, 60fr) 17fr;
  -ms-grid-rows: 50px auto 50px;
      grid-template-rows: 50px auto 50px;
      grid-template-areas: 'header header header' 'mainnav main sidebar' 'footer footer footer';
  max-width: 95%;
  min-height: 100vh;
}

div#wrap div.container header.main-header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: header;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

div#wrap div.container header.main-header div.logo {
  padding: .35rem 1rem;
  margin: 0 1rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 2rem;
  line-height: 1;
  letter-spacing: 0.2em;
  border: 2px solid #000000;
}

div#wrap div.container header.main-header nav.header-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  font-size: 1rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
}

div#wrap div.container header.main-header nav.header-nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

div#wrap div.container header.main-header nav.header-nav ul li {
  padding-left: 10px;
}

div#wrap div.container header.main-header nav.header-nav ul li a {
  color: #000000;
}

div#wrap div.container header.main-header nav.header-nav ul li a:hover, div#wrap div.container header.main-header nav.header-nav ul li a.active {
  color: rgba(51, 51, 51, 0.7);
}

div#wrap div.container header.main-header nav.header-nav h2 {
  display: none;
}

div#wrap div.container header.main-header .link-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  font-weight: 600;
  line-height: 1;
  letter-spacing: -0.05em;
  margin: 0 10px;
}

div#wrap div.container header.main-header .link-list ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  font-size: 1rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

div#wrap div.container header.main-header .link-list ul li {
  padding-left: 10px;
}

div#wrap div.container header.main-header .link-list a:hover {
  color: rgba(51, 51, 51, 0.7);
}

div#wrap div.container nav.main-nav {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: mainnav;
  padding: 2rem 1rem;
  line-height: 1.5;
  letter-spacing: -0.05em;
  width: 240px;
  font-size: 16px;
  font-weight: 600;
}

div#wrap div.container nav.main-nav h2 {
  display: none;
}

div#wrap div.container nav.main-nav .category li {
  padding: .2em;
  list-style: none;
  margin-bottom: .8em;
  border-bottom: 2px solid #000000;
}

div#wrap div.container nav.main-nav .category li a {
  color: #000000;
}

div#wrap div.container nav.main-nav .category li a:hover, div#wrap div.container nav.main-nav .category li a.active {
  color: rgba(51, 51, 51, 0.7);
}

div#wrap div.container div.main {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: main;
  padding: 0 2rem;
  margin: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

div#wrap div.container div.main h1.page-title {
  font-size: 1rem;
  font-weight: normal;
  margin-bottom: 1rem;
  padding: 0 0.2rem;
}

div#wrap div.container div.main section {
  /* section.post-area-category */
  /* 1번째 section */
  /* 각 페이지 포스트 링크 */
}

div#wrap div.container div.main section span {
  display: none;
}

div#wrap div.container div.main section p.article-title {
  font-size: 3rem;
  margin-bottom: 1rem;
  line-height: 1;
}

div#wrap div.container div.main section.post-area-category {
  margin-top: 2rem;
}

div#wrap div.container div.main section.post-area-category .post-category-title {
  padding: 0;
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

div#wrap div.container div.main section.post-area-category .post-category-title a:hover {
  text-decoration: underline;
  cursor: cursor;
}

div#wrap div.container div.main section div.post-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  /* 2번째 ~ 3번째 section 에 관한 썸네일 리스트 클래스 */
}

div#wrap div.container div.main section div.post-area.thumbnails-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -1rem;
}

div#wrap div.container div.main section div.post-area.thumbnails-area .thumbnails-item {
  width: 25%;
  -ms-flex-preferred-size: calc(25% - .2rem);
      flex-basis: calc(25% - .2rem);
  margin-bottom: 1rem;
  padding: 0 1rem;
  /* 이미지가 들어감, figurecation 은 이미지의 설명부분이므로 생략 필요에 따라 사용가능 */
}

div#wrap div.container div.main section div.post-area.thumbnails-area .thumbnails-item :hover {
  text-decoration: underline;
}

div#wrap div.container div.main section div.post-area.thumbnails-area .thumbnails-item figure.thumbnails-item-image {
  margin-bottom: 0.555rem;
}

div#wrap div.container div.main section div.post-area.thumbnails-area .thumbnails-item figure.thumbnails-item-image .item-image {
  padding-bottom: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

div#wrap div.container div.main section div.post-area.thumbnails-area .thumbnails-item .thumbnails-item-info {
  font-size: .85rem;
}

div#wrap div.container div.main section div.post-area div.post-area-item {
  -ms-flex-preferred-size: calc(50% - 1rem);
      flex-basis: calc(50% - 1rem);
  margin: 0 0 1rem;
}

div#wrap div.container div.main section div.post-area div.post-area-item div.post-item-title {
  font-weight: 600;
  font-size: 1.5rem;
  letter-spacing: -0.05em;
  margin-bottom: 0.5rem;
}

div#wrap div.container div.main section div.post-area div.post-area-item div.post-item-title h2 {
  font-weight: 600;
  margin-bottom: 0.5rem;
}

div#wrap div.container div.main section div.post-area div.post-area-item div.post-item-title p.article-date,
div#wrap div.container div.main section div.post-area div.post-area-item div.post-item-title p.post-item-category {
  display: inline;
  font-weight: 400;
  font-size: 0.85rem;
  text-decoration: none;
}

div#wrap div.container div.main section div.post-area div.post-area-item div.post-item-title p.post-item-category::before {
  content: '/';
}

div#wrap div.container div.main section div.post-area div.post-area-item div.post-item-title :hover {
  text-decoration: underline;
}

div#wrap div.container div.main section div.post-area div.post-area-item .post-item-desc {
  font-size: 1rem;
  letter-spacing: -0.05em;
  line-height: 1.5;
  text-align: justify;
}

div#wrap div.container div.main section div.post-area div.post-area-item .post-item-desc :hover {
  text-decoration: underline;
}

div#wrap div.container div.main section.post {
  line-height: 2;
}

div#wrap div.container div.main section.post .post-header {
  margin-bottom: 2rem;
}

div#wrap div.container div.main section.post .post-header .post-title {
  font-size: 2rem;
  line-height: 1.4;
  text-align: left;
}

div#wrap div.container div.main section.post .post-content {
  font-size: 1rem;
  font-weight: normal;
  text-align: left;
  line-height: 1;
  letter-spacing: -0.05em;
  margin-bottom: 2rem;
}

div#wrap div.container div.sidebar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: auto;
      flex-basis: auto;
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-area: sidebar;
  -webkit-transition: opacity 0.3s ease-out 0s, -webkit-transform 0.3s ease-out 0s;
  transition: opacity 0.3s ease-out 0s, -webkit-transform 0.3s ease-out 0s;
  transition: opacity 0.3s ease-out 0s, transform 0.3s ease-out 0s;
  transition: opacity 0.3s ease-out 0s, transform 0.3s ease-out 0s, -webkit-transform 0.3s ease-out 0s;
  opacity: 1;
}

div#wrap div.container div.sidebar .card-content {
  background-color: transparent;
  padding: 1.5rem;
}

div#wrap div.container div.sidebar .card-content .card-title {
  margin-bottom: 1rem;
  color: #000000;
  font-size: .75rem;
  letter-spacing: .1em;
}

div#wrap div.container div.sidebar .card-content article.media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  text-align: left;
  color: #7a7a7a;
}

div#wrap div.container div.sidebar .card-content article.media .media-left {
  margin-right: 1rem;
  -ms-flex-preferred-size: auto;
      flex-basis: auto;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  text-align: left;
}

div#wrap div.container div.sidebar .card-content article.media .media-left p.image {
  position: relative;
}

div#wrap div.container div.sidebar .card-content article.media .media-left p.image.is-64 {
  width: 64px;
  height: 64px;
}

div#wrap div.container div.sidebar .card-content article.media .media-left p.image.is-64 .thumbnail {
  width: 100% !important;
  height: 100% !important;
}

div#wrap div.container div.sidebar .card-content article.media .media-content {
  color: #7a7a7a;
  -ms-flex-preferred-size: auto;
      flex-basis: auto;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  text-align: left;
}

div#wrap div.container div.sidebar .card-content article.media .is-size-small {
  font-size: 0.75rem !important;
}

div#wrap div.container div.sidebar .card-content article.media .title.is-6 {
  margin: 0;
  line-height: 1;
  font-size: .85rem;
  font-weight: 400;
  color: #363636;
}

div#wrap div.container div.sidebar .card-content article.media .link-content {
  color: #000000;
  cursor: pointer;
}

div#wrap div.container div.sidebar .card-content article.media .link-content:hover {
  color: #7a7a7a;
}

div#wrap div.container div.sidebar .card-content article.media .link {
  color: #000000;
  text-decoration: none;
}

div#wrap div.container div.sidebar .card-content article.media .link:hover {
  text-decoration: underline;
}

div#wrap div.container div.sidebar .card-content article.media .is-uppercase {
  text-transform: uppercase !important;
}

div#wrap div.container footer {
  -ms-flex-item-align: center;
      align-self: center;
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: footer;
  padding: 0 25px;
  margin-top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1rem 0;
  text-align: center;
}

div#wrap div.container footer div.copyright {
  line-height: 1.5;
  font-size: 0.85rem;
}
/*# sourceMappingURL=style.css.map */