@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* border: none !important; */
}

html,
body {
  width: 100%;
  height: 100%;
  line-height: 1.5;
  font-size: 16px;
  font-family: '나눔고딕', -apple-system, system-ui, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, sans-serif;
}

a {
  color: #000000;
  text-decoration: none;
}

.link-list {
  font-weight: 600;
  margin-top: 50px;
  line-height: 1.5;
  letter-spacing: -0.05em;
}

.link-list a {
  border-bottom: 2px solid black;
}

.link-list a:hover {
  color: rgba(51, 51, 51, 0.7);
}

/* 재활용이 가능 한 클래스 리스트 들 */
.download {
  font-size: 1rem;
  font-weight: 400;
  padding: 0 0.25rem;
  margin: 0;
}

.site-title {
  font-size: 3rem;
  line-height: 1;
  margin-bottom: 1rem;
}

.page-title {
  font-size: 1rem;
  font-weight: normal;
  margin-bottom: 1rem;
  padding: 0 0.2rem;
}

div#wrap {
  padding: 0;
  margin: 0;
}

div#wrap div.container {
  margin: 0 auto;
  padding: 1rem 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 17fr minmax(0, 60fr) 17fr;
      grid-template-columns: 17fr minmax(0, 60fr) 17fr;
  -ms-grid-rows: 25px 30px auto 50px 20px;
      grid-template-rows: 25px 30px auto 50px 20px;
  max-width: 95%;
  min-height: 100vh;
}

div#wrap div.container header.main-header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

div#wrap div.container header.main-header div.logo {
  font-size: 1.5rem;
}

div#wrap div.container header.main-header nav.header-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

div#wrap div.container header.main-header nav.header-nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

div#wrap div.container header.main-header nav.header-nav h2 {
  display: none;
}

div#wrap div.container nav.main-nav {
  padding: 50px;
  line-height: 1.5;
  letter-spacing: -0.05em;
  width: 240px;
  font-size: 16px;
  font-weight: 600;
}

div#wrap div.container nav.main-nav h2 {
  display: none;
}

div#wrap div.container nav.main-nav div.sidebar-list li {
  padding: .2em;
  list-style: none;
  margin-bottom: .8em;
  border-bottom: 2px solid #000000;
}

div#wrap div.container nav.main-nav div.sidebar-list li a {
  color: #000000;
}

div#wrap div.container nav.main-nav div.sidebar-list li a:hover, div#wrap div.container nav.main-nav div.sidebar-list li a.active {
  color: rgba(51, 51, 51, 0.7);
}

div#wrap div.container div.main {
  padding: 0 25px;
  margin-top: 80px;
  margin-left: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

div#wrap div.container div.main section {
  /* section.post-area-category */
  /* 1번째 section */
  /* 각 페이지 포스트 링크 */
}

div#wrap div.container div.main section span {
  display: none;
}

div#wrap div.container div.main section p.article-title {
  font-size: 2rem;
}

div#wrap div.container div.main section.post-area-category {
  margin-top: 2rem;
}

div#wrap div.container div.main section.post-area-category .post-category-title {
  padding: 0;
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

div#wrap div.container div.main section.post-area-category .post-category-title a:hover {
  text-decoration: underline;
  cursor: cursor;
}

div#wrap div.container div.main section div.post-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  /* 2번째 ~ 3번째 section 에 관한 썸네일 리스트 클래스 */
}

div#wrap div.container div.main section div.post-area.thumbnails-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

div#wrap div.container div.main section div.post-area.thumbnails-area .thumbnails-item {
  width: 20%;
  -ms-flex-preferred-size: calc(20% - 0.5rem);
      flex-basis: calc(20% - 0.5rem);
  margin: 0 0.8rem 2rem;
  /* 이미지가 들어감, figurecation 은 이미지의 설명부분이므로 생략 필요에 따라 사용가능 */
}

div#wrap div.container div.main section div.post-area.thumbnails-area .thumbnails-item :hover {
  text-decoration: underline;
}

div#wrap div.container div.main section div.post-area.thumbnails-area .thumbnails-item figure.thumbnails-item-image {
  margin-bottom: 0.555rem;
}

div#wrap div.container div.main section div.post-area.thumbnails-area .thumbnails-item figure.thumbnails-item-image .item-image {
  padding-bottom: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

div#wrap div.container div.main section div.post-area.thumbnails-area .thumbnails-item .thumbnails-item-info {
  font-size: .85rem;
}

div#wrap div.container div.main section div.post-area div.post-area-item {
  -ms-flex-preferred-size: calc(50% - 1rem);
      flex-basis: calc(50% - 1rem);
  margin: 0 0 1rem;
}

div#wrap div.container div.main section div.post-area div.post-area-item div.post-item-title {
  font-weight: 600;
  font-size: 1.5rem;
  letter-spacing: -0.05em;
  margin-bottom: 0.5rem;
}

div#wrap div.container div.main section div.post-area div.post-area-item div.post-item-title h2 {
  font-weight: 600;
  margin-bottom: 0.5rem;
}

div#wrap div.container div.main section div.post-area div.post-area-item div.post-item-title p.article-date,
div#wrap div.container div.main section div.post-area div.post-area-item div.post-item-title p.post-item-category {
  display: inline;
  font-weight: 400;
  font-size: 0.85rem;
  text-decoration: none;
}

div#wrap div.container div.main section div.post-area div.post-area-item div.post-item-title p.post-item-category::before {
  content: '/';
}

div#wrap div.container div.main section div.post-area div.post-area-item div.post-item-title :hover {
  text-decoration: underline;
}

div#wrap div.container div.main section div.post-area div.post-area-item .post-item-desc {
  font-size: 1rem;
  letter-spacing: -0.05em;
  line-height: 1.5;
  text-align: justify;
}

div#wrap div.container div.main section div.post-area div.post-area-item .post-item-desc :hover {
  text-decoration: underline;
}

div#wrap div.container div.main section.post {
  line-height: 2;
}

div#wrap div.container div.main section.post .post-header {
  margin-bottom: 2rem;
}

div#wrap div.container div.main section.post .post-header .post-title {
  font-size: 2rem;
  line-height: 1.4;
  text-align: left;
}

div#wrap div.container div.main section.post .post-content {
  font-size: 1rem;
  font-weight: normal;
  text-align: left;
  line-height: 1;
  letter-spacing: -0.05em;
  margin-bottom: 2rem;
}

div#wrap div.container div.main footer {
  padding: 0 25px;
  margin-top: 200px;
}

div#wrap div.container div.main footer div.copyright {
  line-height: 1.5;
  font-size: 1rem;
}
/*# sourceMappingURL=style.css.map */