@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* border: none !important; */
}

html,
body {
  width: 100%;
  height: 100%;
  line-height: 1.5;
  font-size: 16px;
  font-family: '나눔고딕', -apple-system, system-ui, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, sans-serif;
}

a {
  color: #000000;
  text-decoration: none;
}

.link-list {
  font-weight: 600;
  margin-top: 80px;
  line-height: 1.5;
  letter-spacing: -0.05em;
}

.link-list a {
  border-bottom: 2px solid black !important;
}

.link-list a:hover {
  color: rgba(51, 51, 51, 0.7);
}

.download {
  font-size: 1rem;
  font-weight: 400;
  padding: 0 0.25rem;
  margin: 0;
}

.site-title {
  border: 1px solid #000000;
  font-size: 3rem;
  line-height: 1;
  margin-bottom: 1rem;
}

.page-title {
  font-size: 1rem;
  font-weight: normal;
  margin-bottom: 1rem;
  padding: 0 0.2rem;
}

div#wrap {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  border: 1px solid blue;
}

div#wrap div.container {
  position: relative;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  border: 2px solid yellow;
}

div#wrap div.container header.main-header {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  width: 100%;
  height: 64px;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: white;
  border: 1px solid tomato;
  -webkit-box-shadow: lightgrey 1px 1px 3px 1px;
          box-shadow: lightgrey 1px 1px 3px 1px;
  z-index: 999;
}

div#wrap div.container header.main-header div.logo {
  margin: 0 50px;
  font-size: 1.8rem;
  line-height: 1.5;
  border-bottom: 2px solid black !important;
}

div#wrap div.container header.main-header div.login {
  margin-right: 20px;
  font-size: .8rem;
  color: #000000;
}

div#wrap div.container header.main-header div.login span a:hover {
  text-decoration: underline;
  color: rgba(51, 51, 51, 0.7);
}

div#wrap div.container nav {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 10px;
  right: 0;
  padding: 50px;
  margin-top: 80px;
  line-height: 1.5;
  letter-spacing: -0.05em;
  width: 240px;
  /* height: calc(100% - 64px); */
  overflow: hidden;
  font-size: 16px;
  font-weight: 600;
  border: 1px solid green;
}

div#wrap div.container nav div.sidebar-list {
  border: 1px solid darkred;
}

div#wrap div.container nav div.sidebar-list li {
  padding: .2em;
  list-style: none;
  margin-bottom: .8em;
  border-bottom: 2px solid #000000 !important;
}

div#wrap div.container nav div.sidebar-list li a:hover {
  color: rgba(51, 51, 51, 0.7);
}

div#wrap div.container div.main {
  width: 100%;
  /*   height: 100%;  */
  padding: 0 25px;
  margin-top: 80px;
  margin-left: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 1px solid brown;
}

div#wrap div.container div.main main {
  padding: 50px;
  border: 1px solid purple;
  overflow: auto;
}

div#wrap div.container div.main main section {
  border: 1px solid red;
  /* section.post-area-category */
  /* 1번째 section */
  /* 각 페이지 포스트 링크 */
}

div#wrap div.container div.main main section.post-area-category {
  margin-top: 2rem;
}

div#wrap div.container div.main main section.post-area-category .post-category-title {
  padding: 0.3rem;
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

div#wrap div.container div.main main section.post-area-category .post-category-title a:hover {
  text-decoration: underline;
  cursor: cursor;
}

div#wrap div.container div.main main section div.post-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border: 1px solid green;
  /* 2번째 ~ 3번째 section 에 관한 썸네일 리스트 클래스 */
}

div#wrap div.container div.main main section div.post-area.thumbnails-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

div#wrap div.container div.main main section div.post-area.thumbnails-area .thumbnails-item {
  width: 20%;
  -ms-flex-preferred-size: calc(19% - 1rem);
      flex-basis: calc(19% - 1rem);
  margin: 0 0.5rem 1rem;
  /* 이미지가 들어감, figurecation 은 이미지의 설명부분이므로 생략 필요에 따라 사용가능 */
}

div#wrap div.container div.main main section div.post-area.thumbnails-area .thumbnails-item figure.thumbnails-item-image {
  margin-bottom: 0.555rem;
}

div#wrap div.container div.main main section div.post-area.thumbnails-area .thumbnails-item figure.thumbnails-item-image .item-image {
  padding-bottom: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

div#wrap div.container div.main main section div.post-area.thumbnails-area .thumbnails-item .thumbnails-item-info {
  font-size: .85rem;
}

div#wrap div.container div.main main section div.post-area div.post-area-item {
  -ms-flex-preferred-size: calc(50% - 1rem);
      flex-basis: calc(50% - 1rem);
  margin: 0 0 1rem;
}

div#wrap div.container div.main main section div.post-area div.post-area-item div.post-item-title {
  font-weight: 600;
  font-size: 1.5rem;
  letter-spacing: -0.05em;
  margin-bottom: 0.5rem;
}

div#wrap div.container div.main main section div.post-area div.post-area-item div.post-item-title h2 {
  font-weight: 600;
  margin-bottom: 0.5rem;
}

div#wrap div.container div.main main section div.post-area div.post-area-item div.post-item-title p.article-date,
div#wrap div.container div.main main section div.post-area div.post-area-item div.post-item-title p.post-item-category {
  display: inline;
  font-weight: 400;
  font-size: 0.85rem;
  text-decoration: none;
}

div#wrap div.container div.main main section div.post-area div.post-area-item div.post-item-title p.post-item-category::before {
  content: '/';
}

div#wrap div.container div.main main section div.post-area div.post-area-item div.post-item-title :hover {
  text-decoration: underline;
}

div#wrap div.container div.main main section div.post-area div.post-area-item .post-item-desc {
  font-size: 1rem;
  letter-spacing: -0.05em;
  line-height: 1.5;
  text-align: justify;
}

div#wrap div.container div.main main section div.post-area div.post-area-item .post-item-desc p:hover {
  text-decoration: underline;
}

div#wrap div.container div.main main section.post {
  line-height: 2;
}

div#wrap div.container div.main main section.post .post-header {
  margin-bottom: 2rem;
}

div#wrap div.container div.main main section.post .post-header .post-title {
  font-size: 2rem;
  line-height: 1.4;
  text-align: left;
}

div#wrap div.container div.main footer {
  padding: 0 25px;
  margin-top: 200px;
  border: 1px solid deeppink;
}

div#wrap div.container div.main footer div.copyright {
  line-height: 1.5;
  font-size: 1rem;
}
/*# sourceMappingURL=style.css.map */